body {
    background-color: #343434;
}
#book-holder {
    margin: 0%;
   display: flex;
   justify-content: space-between;
}
#the-books {
    margin-bottom: 30px;
    background-color: rgb(158, 151, 151);
}